body{
  margin:0;
  padding:0;
  
}


.Baslik{
  width: 100%;
  height: 60px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(180, 189, 119);
}

.logo{
  padding-left: 50px;
}

.sag{
  padding-right: 50px;
}
.ust{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
}

.wrapper{
  margin: 20px;
  width: 785px;
  display: flex;
  align-items:center;
  justify-content: center;
  background: transparent;
}


.bildirim-alani{
  margin-bottom: 50%;
  padding: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-around;
  height: 15%;
  width: 34%;
  background: #6EA33D;
  border-radius: 10px;
  color: white;
  box-shadow: -14px 15px 19px 0px rgba(0,0,0,0.75);
}

#phone{
  width: 100%;
  object-fit: contain;
}

#baslik{
  color: white; 
  text-shadow: 3px 3px  black;
  font-size: 36px;
}

#icerik{
  font-size: 24px;
  text-shadow: 3px 3px  black;
}

.metin{
  display: flex;
  flex-direction:column;
  width: 200%;
  font-size: 24px;
}

input{
  border: 2px solid;
  border-radius: 4px;
  height: 20px;
}
#btn-gonder{
  margin-top: 10px;
  padding:5px;
  width: 100px;
}

#btn-gonder:hover{
  background:#2f2f2f;
  color: white;
}